<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chris Weilacker's Blog</title>
</head>
<body>
    <h1><a href="#">Chris Weilacker's Blog</a></h1>

    {% for post in posts %}
        <div>
            <h2>><a href="">{{ post.title }}</a></h2>
            <p>Published: {{ post.published_date }}</p>
            <p>{{ post.text }}</p>
        </div>
    {% endfor %}
</body>
</html>